<h2>{{task.title}}</h2>
<a href="https://calendar.google.com/calendar/u/0/r">This is a link to your calendar. </a>
<div>Manager your time wisely</div>
<div>Due Date: {{task.dueDate}}</div>
<div id = 'bar'>
    <button class="player1Btn">have some progress &rarr;</button>
    <button class="player2Btn">did something wrong</button>
        <div class="play-area">
            <div class="racer player1">👷</div>
        </div>
        <div id = "msg"></div>
</div>
<br>
<div>{{task.description}}</div>
