<h1>This is your ToDo list</h1>
<div>The name of each task, a short discription and due date are listed below</div>
<ol>
    {{#each tasks as |a|}}
        <li >{{title}} : [<a href="/tasks/{{slug}}">details</a>]</li>
    {{/each}}
</ol>


